<%= simple_form_for :contact_form, url: messages_path, :method => :post, :html => {:class => 'form-horizontal' } do |f| %>
  
  <%= f.input :name, label: "Nome", :input_html =>{:class => 'span6'} %>
  <%=f.input :email, label: "Email", :input_html =>{:class => 'span6'} %>
  <%=f.input :message_title, label: "Assunto", :input_html =>{:class => 'span6'} %>
  <%=f.input :message_body, label: "Tuo messaggio", as: :text, :input_html => { :rows => 3, :class => 'span6' }%>
  <div class="control-group">
              <div class="controls">
  <%=f.button :submit, value: "Invia messaggio"  %>
  </div>
            </div>
  <% end %>