<div class="row">
  <div class="span3 separa">
    <h2>Contattaci</h2>
    <p itemscope="" itemtype="http://schema.org/Organization">
            <strong itemprop="name">Astanga Urbino</strong><br>
            (0039) 348 1502714 <br>
            (0039) 339 8453868 <br>
            brancayoga@gmail.com <br>
    </p>
  </div>
  <div class="formulario span8">
  	<%= render "form" %>
  </div>
</div>