<h1>Classi e Orari</h1>
<h3>I corsi si svolgono</h3>
<p>a <strong>URBINO (PU)</strong> presso il Palazzetto dello Sport Mondolce sito in via S.S.Annunziata n.26 , il lunedì dalle
<p>18 alle 19,30(Ashtanga), il mercoledì dalle 18 alle 19,30 ( Ashtanga ); il giovedì dalle 20 alle 21,30 (per principianti).</p>
<p>a <strong>Fermignano (PU)</strong> il lunedì dalle 20 alle 21,30 (Ashtanga), giovedì dalle 18 alle 19,30 (per principianti).</p>
<p>a <strong>Cagli (PU)</strong> presso il centro fitness ECHO CLUB sito in Zona Caldiracci,(Ashtanga ) il venerdì dalle 19 alle 20,30.
<p>a <strong>Rimini</strong>  presso il Centro Gestalt LA STANZA DELL’ANIMA  sito in via Milazzo 9, il martedì dalle 19 alle 20,30 (Ashtanga).
<p>a <strong>Piobbico (PU)</strong> in via Colle n.151  la domenica dalle 10 alle 12 (Ashtanga).
<strong>A richiesta si svolgono lezioni private.</strong></p>