<div class="row">
  <div class="span3 separa">
    <h2>Contacti</h2>
  </div>
  <div class="formulario span8">


  <%=
simple_form_for :contact_form, url: '/contacti', :method => :post, :html => {:class => 'form-horizontal' } do |f| %>
  
<div class="control-group">
              <label class="control-label" for="inputEmail">Nombre</label>
              <div class="controls">
                <input class="span6" type="text" id="inputNombre" placeholder="Nombre">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputEmail">Email</label>
              <div class="controls">
                <input class="span6" type="text" id="inputEmail" placeholder="Email">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputEmail">Mensaje</label>
              <div class="controls">
                <textarea class="span6" rows="3"></textarea>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
               
              
  <%= f.button :submit %>
 <% end %>
  
  </div>
  </div>

  </div>
</div>
