<h2>Galleria</h2>
<ul id="" class="links thumbnails">

  <li class="span4">
    <a href="<%= image_path('1.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('1_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('2.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('2_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('3.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('3_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('4.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('4_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('5.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('5_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('6.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('6_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('7.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('7_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('8.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('8_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('9.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('9_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('10.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('10_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('11.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('11_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('12.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('12_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('13.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('13_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('14.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('14_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('15.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('15_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('16.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('16_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('17.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('17_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('18.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('18_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('19.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('19_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('20.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('20_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('21.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('21_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('22.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('22_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('23.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('23_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('24.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('24_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('25.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('25_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('26.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('26_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('27.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('27_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('28.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('28_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('29.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('29_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('30.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('30_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('31.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('31_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('32.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('32_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('33.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('33_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('34.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('34_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('35.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('35_p.jpg') %>" />
    </a>
  </li>
  
  <li class="span4">
    <a href="<%= image_path('36.jpg') %>" class="fancybox thumbnail" rel="fancybox-thumb">
    <img src="<%= image_path('36_p.jpg') %>" />
    </a>
  </li>
  
</ul>
