<div class="row inicio">
        <div class="span4">
        <a href="<%= url_for(eventis_path) %>"><img class="bloque" src="<%= image_path('event.png') %>" />
          <h2>Eventi</h2></a>
          <p>Abbiamo un numerò di corsi itineranti che potranno variare dipendendo della pianificazione del mese. Entra in “eventi” e potrai vedere le ultime notizie o i cambiamenti di ora, luogo e data delle nostre attività.</p>
        </div>
        <div class="span4">
          <a href="<%= url_for(classi_path) %>"><img class="bloque" src="<%= image_path('yoga.png') %>" />
          <h2>Classi e Orari</h2></a>
          <p>Costantemente stiamo svolgendo lezioni di Yoga a Urbino, Fermignano, Cagli, Rimini e a Piobbico di maniera regolare con orari flessibili alle tue necessità. Entra in Classi e Orari per successiva informazione.</p>
       </div>
        <div class="span4">
          <a href="<%= url_for(bed_path) %>"><img class="bloque" src="<%= image_path('rest.png') %>" />
          <h2>Bed & Breakfast</h2></a>
          <p>Abbiamo a disposizione a tutti i turisti e amanti della natura e del Yoga: B&B BrancaYoga.  Ha a disposizione 2 camere doppie e 1 tripla, due bagni, un’ampia cucina, un soggiorno e una yoga sala  attrezzata per lo yoga. Hai la possibilità perfetta per un weekend  indimenticabile.</p>
        </div>
</div>