<h1>Istruttore</h1>
<div class="row">
  <div class="span5">
    <img class="img-rounded" src="<%= image_path('istruttore.jpg') %>">
  </div>
  <div class="span7">
    <p>Sandro Brancaleoni dal 1990 lavora come Informatore Scientifico del farmaco nella provincia di Pesaro-Urbino e contemporaneamente comincia ad interessarsi e a praticare lo Yoga. Nel 1999 consegue il diploma di istruttore riconosciuto UISP presso la scuola del  M°Bruno Baleotti di Bologna (metodo Parinama) ed inizia ad insegnare. Nel 2000 comincia a praticare l’Asthanga vinyasa Yoga presso Asht. Yoga Research Istitute diretta dal M° Lino Miele, frequentanto da allora costantemente i workshops e i ritiri . Viene autorizzato nel giugno 2011 dal M° Miele ad introdurre l’insegnamento della 1°serie. Nel 2011 interrompe l’attività di Informatore Scientifico per occuparsi a tempo pieno allo Yoga. Nel giugno
2013 partecipa al In-Depth Study of Astanga Yoga, organizzato dal M°Miele in collaborazione con i suoi assistenti dell’AYRI di Roma, conseguendo il diploma all’insegnamento della prima serie.</p>
  </div>
</div>