<h1>Eventi</h1>
<% @e.each do |e| %>
      <div class="row">
        <div class="span4">
        <img class="bloque img-polaroid" src="http://maps.googleapis.com/maps/api/staticmap?center=<%= e.location %>&maptype=roadmap&zoom=17&size=300x200&sensor=true&markers=size:big%7Ccolor:red%7C<%= e.location %>" />
        </div>
        <div class="span8">
          <h2><%= link_to e.title, eventi_path(e) %></h2>
          
          <p><%= e.description %></p>
          
          <span><i class="icon-calendar"></i><%= e.date.strftime("%d/%m/%Y %H:%M %p") %></span>
          <span class="pull-right"><i class="icon-map-marker"></i><%= e.location %></span>
       </div>
      </div>
      <hr />
<% end %>
<%= paginate @e %>