<h1>La Tradizzione</h1>
<p>L’Ashtanga yoga trova le sue origini nella tradizione tramandata dal saggio Vamana Rishi (Yoga Korunta) e attraverso  Guru Rama Mohan Brahmachari prima e Krishnamacharya poi arriva fino a Pattabhi Jois (1927). Pattabhi Jois riceve nel 1937 il titolo di Vidwan  e viene nominato professore e capo dipartimento di Yoga del Maharaja Sanskrit College di Mysore.</p>

<p>Nel 1945 viene onorato del titolo di <em>“Yogasana Visharada”</em> . Nel 1948  fonda l ‘ Ashtanga Yoga Research Istitute. Dal 1976 al 1978 è stato professore onorario di Yoga presso il <em>“Goovernament College of Indian Medicine”</em>.</p>

<p>Pattabhi Jois  è stato uno dei grandi Yogi che ha condiviso il suo sapere con studenti di tutto il mondo.</p>