body{
background:#265954 url('bg.png');
padding-top: 60px;
}

.header{
width:960px;
margin:0 auto;
}
.slide-holder{
background:#143B3F;
height:30px;
}
.navbar-inner{
background:#082024 !important;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{
background:#D9DBDB;
color:#082024;
}
.blanco{
padding:0 10px;
padding-bottom: 10px;
background:#fff;
-webkit-border-bottom-right-radius: 30px;
-webkit-border-bottom-left-radius: 30px;
-moz-border-radius-bottomright: 30px;
-moz-border-radius-bottomleft: 30px;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
}
.carousel{
margin-bottom:0;
background:#fff;
}
.bloque{
display:block;
margin: 0 auto;
}
.inicio a{
text-decoration:none;
color:#333;
}
.inicio a h2{
font-weight:normal;
text-align:center;
}
.formulario{
	margin-top: 50px;
}
.footer{
	background: #265160 url('footerbg.png');
	margin-top: 20px;
	color:#fff;
	min-height: 120px;
	font-size: 12px;

}
.footer a{
	color:#fff;
	text-decoration: none;
}
.footer a:hover{
	text-decoration: underline;
}
.footer h3{
	font-size: 14px;
	line-height: 14px;
}
.barrita{
	background: transparent url('barrita.png') top left no-repeat;
	padding-left:10px;
	margin-top:10px;
	padding-bottom: 10px;
	min-height: 120px;
	}
.barrita img{
	margin-bottom: 15px;
}
.creditos{
	text-align: center;
	color:#FFF;
	background: #202021;
	min-height: 60px;
	font-size:12px;
	vertical-align: center;
	padding-top: 20px;
	font-weight: bold;

}
.creditos a{
	text-decoration: underline;
	color:#fff;
}
.separa{
	padding-left:50px;
}
.carousel-caption{
	background: #163B40;
	background: rgba(22, 59, 64, 0.75);
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.thumbnail img{
	max-height: 218px;
	min-height: 218px;
}