<!DOCTYPE html>
<html lang="it">
  <head>
    <title><%= @custitle %></title>
    	<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="ico/favicon.png">
  </head>

  <body>
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li <%= current_page?("/") ? 'class=active' : '' %>><%= link_to "Home", "/"%></li>
              <li <%= current_page?(tradizzione_path) ? 'class=active' : '' %>><%= link_to "La tradizione", tradizzione_path %></li>
              <li <%= current_page?(istruttore_path) ? 'class=active' : '' %>><%= link_to "Istruttore", istruttore_path %></li>
              <li <%= current_page?(classi_path) ? 'class=active' : '' %>><%= link_to "Classi e Orari", classi_path %></li>
              <li <%= current_page?(bed_path) ? 'class=active' : '' %>><%= link_to "Bed & Breakfast", bed_path %></li>
              <li 
              <%=
              	current_page?(eventis_path) ? 'class=active' : '' 
              %>><%= link_to "Eventi", eventis_path %></li>
              <li <%= current_page?(galleria_path) ? 'class=active' : '' %>><%= link_to "Galleria", galleria_path %></li>
              <li <%= current_page?('/contattaci') ? 'class=active' : '' %>><%= link_to "Contattaci", '/contattaci' %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="header">
           <div class="slide-holder"></div>
      <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
    	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    	<li data-target="#myCarousel" data-slide-to="1"></li>
    	<li data-target="#myCarousel" data-slide-to="2"></li>
  	  </ol>
        <div class="carousel-inner">
            <div class="active item">
            <img src="<%= image_path('banner.png') %>" />
            </div>
            <div class="item"><img src="<%= image_path('banner2.png') %>" /></div>
            <div class="item"><img src="<%= image_path('banner.png') %>" /></div>
        </div>
      </div>     
    </div>
    <div class="container blanco">
    	<% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>

<%= yield %>

    </div> <!-- /container -->
      <div class="footer">
        <div class="container row">
          <div class="span4 barrita">
              <h3>Siti da segnalare</h3>
              <ul class="unstyled">
                <li>
                  <a href="http://www.astanga.it/" target="_blank" >Astanga Yoga Research Institute</a>
                </li>
                <li>
                  <a href="http://www.astangamilano.it/" target="_blank">Ashtanga Yoga Milano</a>
                </li>
                <li>
                  <a href="http://www.hathayoga.it/" target="_blank">Parinama Yoga</a>
                </li>
              </ul>
          </div>
          <div class="span4 barrita">
            <h3>Contattaci</h3>
            <ul class="unstyled">
              <li>(+39) 348-150-2714</li>
              <li>(+39) 339-845-3868</li>
              <li>brancayoga@gmail.com</li>
            </ul>
          </div>
            
        </div>
      </div>
      <div class="creditos">
        <div class="container">
          &copy;2013 Ashtanga Urbino<br />
          Grafica: <a href="http://www.abrahmatansini.com" title="Abrahma Tansini" target="_blank">Abrahma Tansini</a> / Programazione: <a href="http://www.mijailr.com" title="Mijaíl Rondón" target="_blank">Mijaíl Rondón</a>
        </div>
      </div>
    

  </body>
</html>